<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hosaena Gofer Meda MKC</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="mainPage.css">
</head>
<body>
    <header>
        <div class="logo">Source</div>
        <ul>
            <li>first link</li>
            <li>second link</li>
            <li>third link</li>
            <li>Member List</li>
        </ul>
    </header>
    <main>
        <div>
            <span class="span">TAGLINE</span>
            <h1>Source helps creators do more of what they love</h1>
            <form class="mainForm" action="">
                <input type="text" placeholder="What you are searching for.." style="padding-left: 2%;">
                <button type="button">Button</button>
            </form>
            <p>A device that enables collaboration will lessen the chance of work having to be completely redone.</p>
        </div>
        <div class="cardImg">
            <img src="" alt="photo">
        </div>
    </main>
    <section class="featureBlock">
        <div class="feature">
            <h1>Feature one</h1>
            <p>Description for feature one goes here.</p>
        </div>
        <div class="feature">
            <h1>Feature two</h1>
            <p>Description for feature two goes here.</p>
        </div>
        <div class="feature">
            <h1>Feature three</h1>
            <p>Description for feature three goes here.</p>
        </div>
        <div class="feature" id="List">
            <a href="/memberList" target="_blank" style="text-decoration: none;">
            <h1>Member List</h1>
            <p>You can find our all members <strong style="color: red;text-decoration: underline;">here</strong></p>
            </a>
        </div>
    </section>
</body>
</html>