<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hosaena Gofer Meda MKC</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="mainPage.css">
</head>
<body>
    <header>
        <div class="logo"> <i class="fa-solid fa-earth-africa"></i> </div>
        <ul>
            <li> <a href="#youth"> Youth Page </a> </li>
            <li> <a href="#allMember"> Member page </a> </li>
        </ul>
    </header>
    <main>
        <div class="mainBox">
            <span class="span">G/M/MKC <i class="fa-solid fa-cross"></i></span>
            <h1>Hossana Gofer Meda Meserete Kirstos Church</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione quo corrupti rerum laudantium beatae provident. Delectus illo ut consectetur vel, sequi laudantium dolorum qui est consequatur, beatae molestias hic!
            Vel tempore itaque explicabo provident ducimus iure atque. Fugiat voluptatum ut harum ad repellendus fuga temporibus natus voluptate, qui nulla assumenda quo asperiores saepe perferendis quae officia, tenetur repellat odit.
            Vitae, quod laboriosam hic rerum ex sint suscipit optio recusandae aliquam fugit illo? Eveniet praesentium mollitia sint possimus sed. Ipsum inventore a eveniet ratione ipsam. Ex sequi quod sed iure.</p>
        </div>
        <div class="cardImg">
            <img src="/puppy-3.jpg" alt="photo">
        </div>
    </main>

    <section class="featureBlock">
        <div class="feature" id="youth">
            <a href="/youth/under18" target="_blank" style="text-decoration: none;">
                <h2>Youth Management</h2>
                <p>You can find our all youth members <strong style="color: red;text-decoration: underline;">here</strong></p>
            </a>
        </div>
        <div class="feature" id="allMember">
            <a href="/memberList" target="_blank" style="text-decoration: none;">
                <h2>G/MKC Member Page</h2>
                <p>You can find our all members <strong style="color: red;text-decoration: underline;">here</strong></p>
            </a>
        </div>
    </section>

    <footer>
        <div class="contact">
            <ul>
                <li> <i class="fa-brands fa-telegram"></i> <a href="https://t.me/GofermedaMKC" target="_blank">Telegram</a> </li>
                <li> <i class="fa-brands fa-facebook-f"> </i> <a href="" target="_blank">Facebook</a> </li>
                <li> <i class="fa-solid fa-at"> </i> <a href="mailto:bereketwoldemariyam13@gmial.com" target="_blank">Email us</a> </li>
                <li> <i class="fa-solid fa-phone"> </i> <a href="tel:+251973476418" target="_blank"> Contact Us</a></li>
            </ul>
        </div>
        <div class="copyRight">
            <p>&copy; 2026 All right reserved.</p>
        </div>
    </footer>
</body>
</html>